<div id="siteTitle">
    <h1>Trampoline Park</h1>
</div>

<div id="sitePhoto">
    <img src="img\Trampoline_1.png" alt="Trampoline Park">
</div>

<div id="siteDetails">
    <ul class="activityDetails">
        <li>Adventure Trampoline Park</li>
        <li><a href="https://rockhill.adventureairsports.com/">Adventure Air Sports</a></li>
        <li>Typical Cost: $25</li>
        <li>Rock Hill, SC</li>
        <li>Rating: 5 stars</li>
    </ul>

    Description:
    <br />
    <p class="activityDescription">
        Adventure Air Sports would like to invite you to come experience our state-of-the-art Family Exercise Center.
        Offering a variety of attractions from our Massive trampoline main court with parkour elements,
        to one of the largest Ninja Warrior obstacle courses in the area.
        Fly high above our foam pits on our indoor zip line or challenge your friends to the top of our climbing wall.
    </p>
    <br />
    <div class="siteNav">
        <table>
            <tr>
                <td><a href="/sitePage4">Previous</a></td>
                <td><a href="/">Main</a></td>
                <td><a href="/sitePage2">Next</a></td>
            </tr>
        </table>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.463584740627!2d-80.99763958448281!3d34.97005107625175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88568f531bbadf7b%3A0x7d375da439a755fc!2sAdventure%20Air%20Sports%20-%20Rock%20Hill!5e0!3m2!1sen!2sus!4v1614454583399!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        <br />
    <br /><br />
    <form method="get" action="downloads\stop-the-spread-of-germs.pdf">
        <button type="submit">Download CDC Guidance PDF</button>
        </form>
</div>