<div id="siteTitle">
    <h1>Inflatable Park</h1>
</div>

<div id="sitePhoto">
    <img src="img\Inflatable_Park_2.jpg" alt="Inflatable Park">
</div>

<div id="siteDetails">
    <ul class="activityDetails">
        <li>Monkey Joe's Inflatable Park</li>
        <li><a href="https://www.monkeyjoes.com/locations/warner-robins">Monkey Joe's</a></li>
        <li>Typical Cost: $25</li>
        <li>Warner Robins, GA</li>
        <li>Rating: 5 stars</li>
    </ul>

    Description:
    <br />
    <p class="activityDescription">
        Unlimited play on inflatable-filled jumps, obstacle courses, arcade action and a snack shack.        </p>
    <br />
    <div class="siteNav">
        <table>
            <tr>
                <td><a href="/sitePage2">Previous</a></td>
                <td><a href="/">Main</a></td>
                <td><a href="/sitePage4">Next</a></td>
            </tr>
        </table>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3362.027712800282!2d-83.72137068454441!3d32.57878498103239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f3e775f2e29b8d%3A0x6c83edc359351b14!2sMonkey%20Joe&#39;s%20-%20Warner%20Robins!5e0!3m2!1sen!2sus!4v1614532890828!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        <br /><br />
    <form method="get" action="downloads\stop-the-spread-of-germs.pdf">
        <button type="submit">Download CDC Guidance PDF</button>
        </form>
</div>
