<div id="siteTitle">
    <h1>Zoo</h1>
</div>

<div id="sitePhoto">
    <img src="img\Zoo_1.jpg" alt="Zoo">
</div>

<div id="siteDetails">
    <ul class="activityDetails">
        <li>Riverbanks Zoo</li>
        <li><a href="https://www.riverbanks.org/">Riverbanks Zoo & Garden</a></li>
        <li>Typical Cost: $25</li>
        <li>Columbia, SC</li>
        <li>Rating: 5 stars</li>
    </ul>

    Description:
    <br />
    <p class="activityDescription">
        One of America's best zoos, Riverbanks Zoo and Garden is home to more than 2000 animals
            and one of the nation's most inspiring botanical gardens. 
            Frolic around and under a 25-foot cascading waterfall and splash zones, unearth a life-size replica of T-Rex,
            play in giant tree houses, pop in and out of rabbit holes, and more.
    </p>
    <br />
    <div class="siteNav">
        <table>
            <tr>
                <td><a href="/sitePage1">Previous</a></td>
                <td><a href="/">Main</a></td>
                <td><a href="/sitePage3">Next</a></td>
            </tr>
        </table>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.3190954727393!2d-81.07518038450097!3d34.010019327401025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8a3558f7221af%3A0x5194361d1b5e0bb8!2sRiverbanks%20Zoo%20%26%20Garden!5e0!3m2!1sen!2sus!4v1614531772249!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        <br /><br />
    <form method="get" action="downloads\Riverbanks_Map.pdf">
        <button type="submit">Download Park Map</button>
        </form>
</div>
